In [1]:
import pandas as pd

VERSION NO. = RescueNet_v1.0
##----------------------------------------------
Features: 
	1. Total class: 11 ('Background':0, 'Debris':1, 'Water':2, 'Building_No_Damage':3, 'Building_Minor_Damage':4, 'Building_Major_Damage':5, 'Building_Total_Destruction':6, 'Vehicle':7, 'Road':8, 'Tree':9, 'Pool':10, 'Sand':11).
           
	2. Total image: 4494 (Train: 3595, Val: 449, Test: 450)

In [2]:
# Define class labels
class_labels = {
    1: 'debris',
    2: 'water',
    3: 'building-no-damage',
    4: 'building-medium-damage',
    5: 'building-major-damage',
    6: 'building-total-destruction',
    7: 'vehicle',
    8: 'road',
    9: 'tree',
    10: 'pool',
    11: 'sand'
}

# Define colors for each class
colors = {
    1: (0, 255, 0),     # Green for debris
    2: (0, 0, 255),     # Red for water
    3: (255, 0, 0),     # Blue for building-no-damage
    4: (255, 255, 0),   # Cyan for building-medium-damage
    5: (0, 255, 255),   # Yellow for building-major-damage
    6: (255, 0, 255),   # Magenta for building-total-destruction
    7: (0, 165, 255),   # Orange for vehicle
    8: (255, 165, 0),   # Orange for road
    9: (255, 20, 147),  # Deep pink for tree
    10: (138, 43, 226), # Blue violet for pool
    11: (75, 0, 130)    # Indigo for sand
}

In [3]:
df = pd.read_csv("../preprocess/bboxes/yolo_annotations_full.txt",sep=" ")
df.columns = ["path","class","x_center","y_center","width","height"]
df.describe()

              class      x_center      y_center         width        height
count  60706.000000  60706.000000  60706.000000  60706.000000  60706.000000
mean       3.651978      0.487903      0.489008      0.198605      0.239337
std        3.280054      0.286197      0.279693      0.292548      0.327155
min        1.000000      0.000123      0.000164      0.000247      0.000329
25%        1.000000      0.245000      0.253667      0.000500      0.000667
50%        1.000000      0.500000      0.500000      0.067500      0.087333
75%        7.000000      0.728250      0.718000      0.245250      0.323333
max       11.000000      0.999875      0.999836      1.000000      1.000000

In [5]:
len(df.path.unique())

4494

In [21]:
print("# of images for building-no-damage class: ",len(df[df["class"]== 3]))
print("# of images for building-medium-damage class: ",len(df[df["class"]== 4]))
print("# of images for building-major-damage class: ",len(df[df["class"]== 5]))
print("# of images for building-total-destruction class: ",len(df[df["class"]== 6]))

# of images for building-no-damage class:  4142
# of images for building-medium-damage class:  3098
# of images for building-major-damage class:  1735
# of images for building-total-destruction class:  2100

subset building distribution

In [22]:
df = pd.read_csv("../preprocess/bboxes/yolo_annotations.txt",sep=" ")
df.columns = ["path","class","x_center","y_center","width","height"]
df.describe()

             class     x_center     y_center        width       height
count  1979.000000  1979.000000  1979.000000  1979.000000  1979.000000
mean      5.148560     0.525912     0.510412     0.165490     0.209242
std       3.449207     0.276330     0.282908     0.256884     0.284427
min       1.000000     0.000125     0.000167     0.000250     0.000333
25%       1.000000     0.314625     0.273500     0.011250     0.012500
50%       6.000000     0.500000     0.500667     0.068250     0.094333
75%       9.000000     0.763250     0.744583     0.176375     0.264000
max      11.000000     0.999875     0.999833     1.000000     1.000000

In [23]:
print("# of images for building-no-damage class: ",len(df[df["class"]== 3]))
print("# of images for building-medium-damage class: ",len(df[df["class"]== 4]))
print("# of images for building-major-damage class: ",len(df[df["class"]== 5]))
print("# of images for building-total-destruction class: ",len(df[df["class"]== 6]))

# of images for building-no-damage class:  88
# of images for building-medium-damage class:  47
# of images for building-major-damage class:  62
# of images for building-total-destruction class:  266